@media screen and (max-width: 660px) {
    .search{
        display: none;
    }
    .sidebar-items ul li a .material-symbols-outlined{
        width: 24px;
        height: 24px;
        font-size: 24px;
    }

    .grid-explore{
        grid-template-columns: auto;
    }

}

@media screen and (max-width: 1080px){

    .grid-explore{
        grid-template-columns: auto auto auto;
    }
}